#all:
#  sf_luceneable15_behavior:
#    stopwords: false #possible value:
                     #false disabled stopwords (default)
                     #string separated by ','. ex: "a", "an", "and", "are", "as", "at", "be", "but", "by", "for", "if", "in", "into", "is", "it", "no", "not", "of", "on", "or", "s", "such", "t", "that", "the", "their", "then", "there", "these", "they", "this", "to", "was", "will", "with"
#   shortwords: 3
#   data_dir: %SF_DATA_DIR%/lucene